Source: lmpd
Section: mail
Priority: optional
Maintainer: Nikolay Bogdanov <nikolay.bogdanov@flant.ru>
Build-Depends: debhelper (>= 5)
Standards-Version: 3.8.2.0
Homepage: http://flant.ru/

Package: lmpd
Architecture: all
Depends: python-yaml, python-argparse, python-mysqldb
Description: Postfix plugin for whitelists
 Policyd provides easy whitelisting for postfix
 It can work with dovecot
